.containerFluid{
    width: 100%;
    margin: 0 auto;
  }

  .sectionBanner{
    background: linear-gradient(135deg, #FFF6B7 0%, #F6416C 100%);
    height: 70vh;
  }

  .conteudoBanner{
    max-width: 992px;
    margin: 0 auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    }

    .textoBanner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .textoBanner span{
        font-size: 1.25rem;
        padding-bottom: 1rem;
      }
      
      .imagemBanner{
        display: flex;
        align-items: center;
      }
      
      .imagemBanner img{
        width: 550px;
        height: auto;
      }
      